#app > div > header nav > div:nth-child(2) {
    position:   fixed;
    @include    offset(40px, 8px, auto, auto);

    > a {
        @include        replace-icon-svg("https://shadenexus.com/img/win9x-post.png");
        position:       relative;
        display:        flex;
        flex-direction: column;
        background:     none;

        > span {
            margin-top: 28px;
            @include    win9x-icon-label;
        }
    }
}

#app > div.fixed > a[href$="post/compose"] {
    display: none;
}